/* nav styles */
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* shared styles */

.raleway-normal{
   font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.text-primary{
    color : #4E47FF; 

}
.btn-primary{
  background-color: #4E47FF;
  color: white;
  padding: 12px 36px; 
  border-radius: 10px;
  border: none;
  width: 174;
  height: 148;
  font-size: 16px ;
}
.flex{
  display: flex;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between ;
   margin: 0px 100px;
}

.nav-title {
  font-weight: 800;
  font-size: 34px;
  width: 99;
  height: 51;
}
/* banner */
.banner-content{
align-items: center;
color: #252432;
font-size: 40px;
font-weight: 700;
text-align: center;
padding: 100px 0px;
}
/* action */
.action{
  display: flex;
justify-content: space-between; 
align-items: center;
margin: 100px;
}
.section-title{
  font-size: 42px;
  font-weight: 700;
  color: #252432;
  margin-bottom: 0;
}
.inner-action{
font-size: 24px;
font-weight: 400;
text-align: left;
color: #25243280;
}
.action-pic{
border-radius: 48px;
 width: 403px;
height: 328px;
}
/* section 2 */
.users-content{
  padding: 50px 80px;
  margin: 100px 150px;
  text-align: center;
  background-color: #4e47ff19;
  border-radius: 48px;
}
.users{
  color: #4E47FF;
  font-size: 80px;
  font-weight: 700;
  margin: 0;
}
.users-info{
  display: flex;
justify-content: space-between; 
align-items: center;
margin-top: 30px;
}
.p-users{
  color: grey;
  font-weight: 400;
}
/* section 3 */
.reviewer{
  text-align: center;
  margin-top: 50px; 
}
.rclass{
  display: flex;
  justify-content: space-between;
}
.reviewer-content{
  background-color: #f6f6f6;
  padding: 30px 30px;
  margin: 20px 10px;
 font-weight: 300;
border-radius: 40px;
}
.reviewer-info{
  font-size: 13px;
  font-weight: 300;
  color: #757575;
  margin-left: 10px;
}
.circle-avatar{
  align-items: left;
  border-radius: 50%;
}
/* section 4 */
.sec4{
  flex-direction: column;
  text-align: center;
  margin-top: 50px;
  background-color: #f6f6f6 ;
  margin: 50px 200px;
  border-radius: 45px;
  padding-bottom: 45px;
}
.focus-img{
  margin-top: 40px;
  border-radius: 45px;
}
.btn-top{
  margin-top: 20px;
}